// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;
// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$pink: #d03656;
$white: #fff;
$black: #262626;
$grey: #999999;
$background: #f5f4ec;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;
$engagement: 'Engagement', cursive;
$open-sans: "Open Sans", sans-serif;
// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
